# Google App Engine generated folder
appengine-generated/ git clone https://github.com/NativeScript/sample-ios-background-execution.git
    cd sample-ios-background-execution
    npm install
    tns run ios
